name: CI

on: [push, pull_request]

jobs:
  test:
    name: lisp = ${{ matrix.lisp }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lisp: [sbcl, ccl, clisp]
    env:
      LISP: ${{ matrix.lisp }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get install info install-info
      - name: Install CIM
        run: |
          curl -L https://raw.githubusercontent.com/shamazmazum/cl-cirrus/github-actions/install-actions.sh | sh
      - name: Run tests
        run: |
          cl -f $GITHUB_WORKSPACE/tests/actions.lisp
